@import "./home/hero.scss";
@import "./home/description.scss";
@import "./home/diagram.scss";
@import "./home/permguard-server.scss";
@import "./home/workspace.scss";
@import "./home/code.scss";
@import "./home/policies.scss";
@import "./home/pep.scss";
@import "./home/enforce.scss";
@import "./home/where-to-enforce.scss";
@import "./home/tenancy.scss";
@import "./home/vscode.scss";
@import "./home/community.scss";
@import "./home/versioning.scss";

.forced-dark {
  background: #d2d2d2 !important;
}

.text-gradient {
  background: linear-gradient(
    to bottom,
    #ffffff,
    #999999
  ); /* Top to bottom gradient */
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.forced-dark .text-gradient {
  -webkit-text-fill-color: #ffffff;
}

.docs-toc {
  height: calc(100% - 4.25rem) !important;
}

.docs-sidebar {
  height: calc(100% - 4.25rem) !important;
}

.docs-links {
  padding-bottom: 0.5rem !important;
}

.docs {
  & .content {
    padding: 0 15px !important;
  }
}
