img-comparison-slider {
  visibility: hidden;
}

img-comparison-slider [slot="second"] {
  display: none;
}

img-comparison-slider.rendered {
  visibility: inherit;
}

img-comparison-slider.rendered [slot="second"] {
  display: unset;
}

.DocSearch-Commands-Key {
  color: rgba(255, 255, 255, 0.9);
}
