@import "./home/hero.scss";
@import "./home/advantages.scss";

.forced-dark {
  background: #d2d2d2 !important;
}

.text-gradient {
  background: linear-gradient(
    to bottom,
    #ffffff,
    #999999
  ); /* Top to bottom gradient */
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.forced-dark .text-gradient {
  -webkit-text-fill-color: #ffffff;
}

.docs-toc {
  height: calc(100% - 4.25rem) !important;
}

.docs-sidebar {
  height: calc(100% - 4.25rem) !important;
}

.docs-links {
  padding-bottom: 0.5rem !important;
}

.docs {
  & .content {
    padding: 0 15px !important;
  }
}

body.home {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
  overflow-x: hidden;
}

.footer-legal-text {
  color: #c1c3c8;
  font-size: 12px;

  &__link {
    color: #c1c3c8 !important;
    font-weight: normal;
    text-decoration: none !important;
  }
}
