{{ if (in site.Params.doks.sectionNav .Section) -}}
<div class="container-lg footer footer--docs px-4">
  {{ else -}}
  <div class="container-lg footer px-4">
    {{ end -}}
    <nav actor="navigation" class="row footer__row">
      <div class="col-16 col-xl-4 footer__col footer__col-title mb-4 mb-xl-0">
        <a
          class="navbar-brand fw-medium me-auto me-lg-3 fs-6 text-white font-montserrat"
          href="/"
        >
          <img
            src="/images/logos/top_logo.svg"
            alt="Permguard logo"
            class="me-1"
          />

          Permguard</a
        >
        <div class="d-flex mt-4 align-items-center">
          <div>
            <img src="/images/home/mail.svg" alt="email" />
          </div>

          <a
            href="mailto:opensource@permguard.com"
            class="text-white ms-3 text-small fw-medium"
            >opensource@permguard.com</a
          >
        </div>
      </div>
      <nav class="col-8 col-lg-4 col-xl-3 footer__col">
        <h3 id="nav0" class="text-white text-small m-0 fw-medium">Overview</h3>
        {{ $currentPage := . -}} {{ $versions := site.Params.doks.docsVersions
        }} {{ $currentVersion := index $versions (sub (len $versions) 1) }}
        <ul class="d-flex flex-column gap-3 footer__links">
          <li class="mt-2">
            <a
              class="text-small color-secondary fw-medium"
              href="/docs/{{ $currentVersion }}/getting-started/introduction-to-permguard/"
              >Introduction to Permguard</a
            >
          </li>
          <li>
            <a
              class="text-small color-secondary fw-medium"
              href="/docs/{{ $currentVersion }}/getting-started/why-permguard/"
              >Why Permguard</a
            >
          </li>
          <li>
            <a
              class="text-small color-secondary fw-medium"
              href="/docs/{{ $currentVersion }}/core-elements/authn-authz/authn-vs-authz/"
              >Core Elements</a
            >
          </li>
          <li>
            <a
              class="text-small color-secondary fw-medium"
              href="/docs/{{ $currentVersion }}/getting-started/cloud-native-patterns/"
              >Cloud Native Patterns</a
            >
          </li>

        </ul>
      </nav>
      <nav id="nav1" class="col-8 col-lg-4 col-xl-3 footer__col">
        <h3 class="text-white text-small m-0 fw-medium">CodeOps</h3>
        <ul class="d-flex flex-column gap-3 footer__links">
          <li class="mt-2">
            <a
              class="text-small color-secondary fw-medium"
              href="/docs/{{ $currentVersion }}/code-ops/initializing-the-workspace/"
              >Initializing the Workspace</a
            >
          </li>
          <li>
            <a
              class="text-small color-secondary fw-medium"
              href="/docs/{{ $currentVersion }}/command-line/how-to-use/"
              >Permguard CLI</a
            >
          </li>
          <li>
            <a
              class="text-small color-secondary fw-medium"
              href="/docs/{{ $currentVersion }}/policy-as-code/policy-languages/"
              >Policy as a Code</a
            >
          </li>
        </ul>
      </nav>
      <nav id="nav2" class="col-8 col-lg-4 col-xl-3 footer__col">
        <h3 class="text-white text-small m-0 fw-medium">DevOps</h3>
        <ul class="d-flex flex-column gap-3 footer__links">
          <li class="mt-2">
            <a
              class="text-small color-secondary fw-medium"
              href="/docs/{{ $currentVersion }}/devops/configurations/"
              >Configurations</a
            >
          </li>
          <li>
            <a
              class="text-small color-secondary fw-medium"
              href="/docs/{{ $currentVersion }}/devops/cli-flags/"
              >Cli Flags</a
            >
          </li>
        </ul>
      </nav>
      <nav id="nav3" class="col-8 col-lg-4 col-xl-3 footer__col">
        <h3 class="text-white text-small m-0 fw-medium">Useful Links</h3>
        <ul class="d-flex flex-column gap-3 footer__links">
          <li class="mt-2">
            <a
              class="text-small color-secondary fw-medium"
              href="/docs/{{ $currentVersion }}/getting-started/licensing-and-features/"
              >License</a
            >
          </li>
          <li>
            <a class="text-small color-secondary fw-medium" href="/blog/"
              >Blog</a
            >
          </li>
        </ul>
      </nav>
    </nav>

    <div class="d-flex justify-content-between legal-notice">
      <p class="text-white text-small fw-medium legal-notice__title">
        © 2024, Nitro Agility Srl. All rights reserved.
      </p>

      <div class="d-flex legal-notice__row">
        <p class="text-white text-small fw-medium legal-notice__title">
          Brought to you by
          <a
            class="legal-notice__link"
            target="_blank"
            href="https://www.nitroagility.com/"
            >Nitro Agility S.r.l.</a
          >
        </p>
      </div>
    </div>
  </div>
</div>
