<!-- Chrome, Firefox OS and Opera -->
<meta name="theme-color" content="#17181c" />
<!-- Windows Phone -->
<meta name="msapplication-navbutton-color" content="#17181c" />
<!-- iOS Safari -->
<meta name="apple-mobile-web-app-status-bar-style" content="#17181c" />

<script
  id="Cookiebot"
  src="https://consent.cookiebot.com/uc.js"
  data-cbid="70d7e935-a97a-42a9-aa06-15e6f0745ce2"
  data-blockingmode="auto"
  type="text/javascript"
></script>

<!-- Insert scripts NOT needed by stylesheets here -->
<!-- Google tag (gtag.js) -->
<script
  async
  src="https://www.googletagmanager.com/gtag/js?id=G-7GVXDQC1SC"
></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());

  gtag("config", "G-7GVXDQC1SC");
</script>

<!-- Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
  rel="stylesheet"
/>
<link
  href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
  rel="stylesheet"
/>
<link
  href="https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap"
  rel="stylesheet"
/>

<!-- Code highlighter -->
<link rel="stylesheet" href="/css/highlightjs/devibeans.min.css" />
<script src="/js/highlightjs/highlight.min.js"></script>
<script src="/js/highlightjs/languages/python.min.js"></script>
<script src="/js/highlightjs/languages/go.min.js"></script>
<script src="/js/highlightjs/languages/cedar.min.js"></script>
<script src="/js/highlightjs/languages/java.min.js"></script>
<script src="/js/highlightjs/languages/json.min.js"></script>
<script src="/js/highlightjs/languages/yaml.min.js"></script>
<script src="/js/highlightjs/languages/rego.min.js"></script>
<script src="/js/highlightjs/languages/bash.min.js"></script>
<script src="/js/highlightjs/highlight-syntax.js"></script>

<!-- Code compare slider -->
<script defer src="/js/comparision-slider/slider.js"></script>
<link rel="stylesheet" href="/css/comparision-slider/styles.css" />
