{{ if (in site.Params.doks.sectionNav .Section) -}}
<div class="container-lg footer footer--docs px-4">
  {{ else -}}
  <div class="container-lg pt-6 pb-4 footer px-4">
    {{ end -}}
    <nav actor="navigation" class="row footer__row">
      <div class="col-16 col-xl-4 footer__col footer__col-title mb-4 mb-xl-0">
        <a
          class="navbar-brand fw-medium me-auto me-lg-3 fs-6 text-white font-montserrat"
          href="https://www.permguard.com/"
        >
          <img
            src="/images/logos/permguard_logo.svg"
            alt="Permguard"
            class="me-1 footer__logo"
          />
        </a>
        <div class="d-flex footer__email align-items-center">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="#c1c3c8"
            aria-hidden="true"
            data-slot="icon"
            width="25"
          >
            <path
              d="M3 4a2 2 0 0 0-2 2v1.161l8.441 4.221a1.25 1.25 0 0 0 1.118 0L19 7.162V6a2 2 0 0 0-2-2H3Z"
            ></path>
            <path
              d="m19 8.839-7.77 3.885a2.75 2.75 0 0 1-2.46 0L1 8.839V14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V8.839Z"
            ></path>
          </svg>

          <a
            href="mailto:opensource@permguard.com"
            class="text-white ms-3 text-small fw-medium"
            >opensource@permguard.com</a
          >
        </div>

        <!-- Social menu -->
        {{ if .Site.Menus.social -}}
        <ul class="nav mr-auto flex-row gap-4 mt-3">
          {{ range (sort .Site.Menus.social "Weight" "asc") -}} {{ if eq .Name
          "Docs" -}} {{ if not (in site.Params.doks.sectionNav $.Section) -}} {{
          end -}} {{ else -}}
          <li class="nav-item m-0">
            <a
              target="_blank"
              class="nav-link social-link px-0"
              href="{{ .URL | relURL }}"
              >{{ .Pre | safeHTML }}<small class="ms-2 visually-hidden"
                >{{ .Name | safeHTML }}</small
              ></a
            >
          </li>
          {{ end -}} {{ end -}}
        </ul>
        {{ end -}}
      </div>
      <nav class="col-8 col-lg-4 col-xl-3 footer__col">
        <h3 id="nav0" class="text-white text-small m-0 fw-medium">Overview</h3>
        {{ $currentPage := . -}} {{ $versions := site.Params.doks.docsVersions
        }} {{ $currentVersion := index $versions (sub (len $versions) 1) }}
        <ul class="d-flex flex-column gap-3 footer__links">
          <li class="mt-2">
            <a
              class="text-small color-secondary fw-medium"
              href="/docs/{{ $currentVersion }}/getting-started/intro-to-permguard/"
              >Permguard Paradigm</a
            >
          </li>
          <li>
            <a
              class="text-small color-secondary fw-medium"
              href="/docs/{{ $currentVersion }}/getting-started/why-permguard/"
              >Why Permguard</a
            >
          </li>
          <li>
            <a
              class="text-small color-secondary fw-medium"
              href="/docs/{{ $currentVersion }}/concepts/authn-authz/authn-vs-authz/"
              >Concepts</a
            >
          </li>
          <li>
            <a
              class="text-small color-secondary fw-medium"
              href="/docs/{{ $currentVersion }}/concepts/patterns/cloud-native-patterns/"
              >Cloud Native Patterns</a
            >
          </li>
        </ul>
      </nav>
      <nav id="nav1" class="col-8 col-lg-4 col-xl-3 footer__col">
        <h3 class="text-white text-small m-0 fw-medium">CodeOps</h3>
        <ul class="d-flex flex-column gap-3 footer__links">
          <li class="mt-2">
            <a
              class="text-small color-secondary fw-medium"
              href="/docs/{{ $currentVersion }}/code-ops/initializing-the-workspace/"
              >Initializing the Workspace</a
            >
          </li>
          <li>
            <a
              class="text-small color-secondary fw-medium"
              href="/docs/{{ $currentVersion }}/command-line/how-to-use/"
              >Permguard CLI</a
            >
          </li>
          <li>
            <a
              class="text-small color-secondary fw-medium"
              href="/docs/{{ $currentVersion }}/policy-as-code/policy-languages/"
              >Policy as Code</a
            >
          </li>
        </ul>
      </nav>
      <nav id="nav2" class="col-8 col-lg-4 col-xl-3 footer__col">
        <h3 class="text-white text-small m-0 fw-medium">DevOps</h3>
        <ul class="d-flex flex-column gap-3 footer__links">
          <li class="mt-2">
            <a
              class="text-small color-secondary fw-medium"
              href="/docs/{{ $currentVersion }}/devops/environments/"
              >Environments</a
            >
          </li>
          <li>
            <a
              class="text-small color-secondary fw-medium"
              href="/docs/{{ $currentVersion }}/devops/authz-server/authz-server/"
              >AuthZServer</a
            >
          </li>
        </ul>
      </nav>
      <nav id="nav3" class="col-8 col-lg-4 col-xl-3 footer__col">
        <h3 class="text-white text-small m-0 fw-medium">Useful Links</h3>
        <ul class="d-flex flex-column gap-3 footer__links">
          <li class="mt-2">
            <a
              class="text-small color-secondary fw-medium"
              href="/docs/{{ $currentVersion }}/getting-started/features-licensing/"
              >License</a
            >
          </li>
          <li>
            <a class="text-small color-secondary fw-medium" href="/blog/"
              >Blog</a
            >
          </li>
        </ul>
      </nav>
    </nav>

    <div class="d-flex justify-content-between legal-notice flex-column gap-2">
      <div class="d-flex justify-content-between flex-column flex-md-row gap-2">
        <div class="d-flex gap-2 align-items-md-center flex-column flex-md-row">
          <p class="text-white text-small fw-medium legal-notice__title mb-0">
            Permguard® is a registered trademark.
          </p>
        </div>

        <div class="d-flex legal-notice__row mt-4 mt-md-0">
          <p class="text-white text-small fw-medium legal-notice__title mb-0">
            Brought to you by
            <a
              class="legal-notice__link"
              target="_blank"
              href="https://www.nitroagility.com/"
              >Nitro Agility S.r.l.</a
            >
          </p>
        </div>
      </div>

      <div class="mt-4 footer-legal-text small">
        <p>&copy; 2025 All rights reserved</p>
      </div>
      <p class="mx-auto language_ai">
        ✧ Language &amp; AI · written in English by the authors, polished with
        AI ✧
      </p>
    </div>
  </div>
</div>
