{{ if site.Params.doks.alert -}}
  {{ partial "header/alert.html" . }}
{{ end -}}

{{ if site.Params.doks.navbarSticky -}}
<div class="sticky-top">
{{ end -}}

{{ if site.Params.doks.headerBar -}}
<div class="header-bar"></div>
{{ end -}}

<header class="navbar navbar-expand-lg bg-transparent app-header">
  <div class="container-lg px-3" bis_skin_checked="1">


    <!-- Site title -->
    <a
    class="navbar-brand me-auto me-lg-3 fs-6"
    href="https://www.permguard.com/"
  >
    <img class="header__img" src="/images/logos/top_logo.svg" alt="Permguard Community" class="me-1" />

     </a
  >


    <!-- DocSearch mobile -->
{{ if site.Params.add_ons.docSearch -}}
<div id="docsearch" class="d-none" tabindex="-1" aria-disabled="true"></div>
<button type="button" id="searchToggleMobile" class="btn btn-link nav-link mx-2 d-lg-none d-flex align-items-center" aria-label="Search website">
  <svg aria-hidden="true" viewBox="0 0 20 20" class="icon-small-size flex-static icon-color">
    <path d="M16.293 17.707a1 1 0 0 0 1.414-1.414l-1.414 1.414ZM9 14a5 5 0 0 1-5-5H2a7 7 0 0 0 7 7v-2ZM4 9a5 5 0 0 1 5-5V2a7 7 0 0 0-7 7h2Zm5-5a5 5 0 0 1 5 5h2a7 7 0 0 0-7-7v2Zm8.707 12.293-3.757-3.757-1.414 1.414 3.757 3.757 1.414-1.414ZM14 9a4.98 4.98 0 0 1-1.464 3.536l1.414 1.414A6.98 6.98 0 0 0 16 9h-2Zm-1.464 3.536A4.98 4.98 0 0 1 9 14v2a6.98 6.98 0 0 0 4.95-2.05l-1.414-1.414Z"></path>
  </svg>
</button>
{{ end -}}

    <!-- Section navigation -->
    {{ if (in site.Params.doks.sectionNav .Section) -}}
    <button class="btn btn-link d-lg-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavSection" aria-controls="offcanvasNavSection" aria-label="Open section navigation menu">
      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-dots-vertical icon-color" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
        <path d="M12 19m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
        <path d="M12 5m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
      </svg>
    </button>
    <div class="offcanvas offcanvas-start d-lg-none" tabindex="-1" id="offcanvasNavSection" aria-labelledby="offcanvasNavSectionLabel">
      {{ if site.Params.doks.headerBar -}}
        <div class="header-bar"></div>
      {{ end -}}
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavSectionLabel">{{ .Section | humanize }}</h5>
        <button type="button" class="btn btn-link nav-link p-0" data-bs-dismiss="offcanvas" aria-label="Close">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-x icon-color" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M18 6l-12 12"></path>
            <path d="M6 6l12 12"></path>
          </svg>
        </button>
      </div>
      <div class="offcanvas-body">
        <aside class="doks-sidebar mt-n3">
          <nav id="doks-docs-nav" aria-label="Tertiary navigation">
            {{ partial "sidebar/docs-menu.html" . }}
          </nav>
        </aside>
      </div>
    </div>
    {{ end -}}

    <!-- Main navigation button -->
    <button class="btn btn-link nav-link mx-2 order-3 d-lg-none d-flex align-items-center" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavMain" aria-controls="offcanvasNavMain" aria-label="Open main navigation menu">
      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-menu icon-color" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <line x1="4" y1="8" x2="20" y2="8"></line>
        <line x1="4" y1="16" x2="20" y2="16"></line>
      </svg>
    </button>

    <!-- Main navigation -->
    <div class="offcanvas offcanvas-end h-auto" tabindex="-1" id="offcanvasNavMain" aria-labelledby="offcanvasNavMainLabel">
      {{ if site.Params.doks.headerBar -}}
        <div class="header-bar d-lg-none"></div>
      {{ end -}}
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavMainLabel">{{ site.Title }}</h5>
        <button type="button" class="btn btn-link nav-link p-0" data-bs-dismiss="offcanvas" aria-label="Close">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-x icon-color" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M18 6l-12 12"></path>
            <path d="M6 6l12 12"></path>
         </svg>
        </button>
      </div>
      <!--
      <div class="offcanvas-header">
        <h5 class="offcanvas-title fw-bold" id="offcanvasNavMainLabel">{{ .Site.Params.Title }}</h5>
        <button class="btn btn-link nav-link ms-auto" type="button" data-bs-dismiss="offcanvas" aria-label="Close menu">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-x" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M18 6l-12 12"></path>
            <path d="M6 6l12 12"></path>
          </svg>
        </button>
      </div>
      -->
      <div class="offcanvas-body d-flex flex-column flex-lg-row justify-content-between">
        <nav actor="navigation" class="d-flex d-lg-none align-items-center">
          <ul class="navbar-nav">
          {{- $current := . -}}
          {{- $section := $current.Section -}}
          {{ range .Site.Menus.main -}}
            {{- $active := or ($current.IsMenuCurrent "main" .) ($current.HasMenuCurrent "main" .) -}}
            {{- $active = or $active (eq .Name $current.Title) -}}
            {{- $active = or $active (and (eq .Name ($section | humanize)) (eq $current.Section $section)) -}}
            {{- $active = or $active (and (eq .Name "Blog") (eq $current.Section "blog" "authors")) -}}
            {{ if .HasChildren -}}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" actor="button" data-bs-toggle="dropdown" aria-expanded="false">
                  {{ .Name -}}
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-down" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M6 9l6 6l6 -6"></path>
                  </svg>
                </a>
                <ul class="dropdown-menu shadow rounded border-0">
                  {{ range .Children -}}
                  {{- $active = eq .Name $current.Title -}}
                    <li><a class="dropdown-item{{ if $active }} active{{ end }}" href="{{ .URL | absURL }}"{{ if $active }} aria-current="true"{{ end }}>{{ .Name }}</a></li>
                  {{ end -}}
                </ul>
              </li>
            {{ else -}}
              <li class="nav-item">
                <a class="nav-link{{ if $active }} active{{ end }}" title="{{ .Name }}" href="{{ .URL | absURL }}"{{ if $active }} aria-current="true"{{ end }}>{{ .Name }}</a>
              </li>
            {{ end -}}
          {{ end -}}
        </ul>
      </nav>



        <!-- Language dropdown -->
    {{ if eq site.Params.doks.multilingualMode true -}}

        <div class="dropdown mt-1 order-lg-2">
          <button class="btn btn-dropdown dropdown-toggle" id="doks-languages" data-bs-toggle="dropdown" aria-expanded="false" data-bs-display="static">
            <span class="dropdown-caret">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-language" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M4 5h7"></path>
                <path d="M9 3v2c0 4.418 -2.239 8 -5 8"></path>
                <path d="M5 9c0 2.144 2.952 3.908 6.7 4"></path>
                <path d="M12 20l4 -9l4 9"></path>
                <path d="M19.1 18h-6.2"></path>
              </svg>
              <span id="doks-language-current">{{ .Site.Language.LanguageName }}</span>
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-down" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M6 9l6 6l6 -6"></path>
              </svg>
            </span>
          </button>
          <ul class="dropdown-menu dropdown-menu-lg-end me-lg-2 shadow rounded border-0" aria-labelledby="doks-languages">

            <li><span class="dropdown-item current" aria-current="true">{{ .Site.Language.LanguageName }}</span></li>

            <li><hr class="dropdown-divider"></li>

            {{ if site.Params.doks.showMissingLanguages -}}
              {{ $translatedLangs := slice -}}
              {{ range .Translations -}}
                {{ $translatedLangs = $translatedLangs | append .Lang }}
              {{- end }}
              {{ range site.Languages -}}
                {{ if and (ne $.Lang .Lang) (not (in $.Params.skipTranslations .Lang)) -}}
                  {{ $isTranslated := in $translatedLangs .Lang -}}
                  <li><a class="dropdown-item {{ if not $isTranslated }}untranslated{{ end }}" rel="alternate" href="{{ if $isTranslated }}{{ (index (where $.Translations "Lang" .Lang) 0).RelPermalink }}{{ else }}{{ .Lang | relURL }}{{ end }}" hreflang="{{ .Lang }}" lang="{{ .Lang }}">{{ .LanguageName }}</a></li>
                {{- end }}
              {{- end }}
            {{ else -}}
              {{ range .Translations -}}
                <li><a class="dropdown-item" rel="alternate" href="{{ .RelPermalink }}" hreflang="{{ .Lang }}" lang="{{ .Lang }}">{{ .Language.LanguageName }}</a></li>
              {{- end }}
            {{- end }}
              <!--
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/docs/contributing/how-to-contribute/">Help Translate</a></li>
              -->
          </ul>
        </div>
    {{ end -}}


        <!-- Color mode toggler -->
        {{ if and (eq site.Params.doks.colorMode "auto") site.Params.doks.colorModeToggler -}}
        <button id="buttonColorMode" class="btn btn-link mx-auto nav-link p-0 ms-lg-2 me-lg-1" type="button" aria-label="Toggle theme">
          <svg data-bs-theme-value="dark" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-moon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M12 3c.132 0 .263 0 .393 0a7.5 7.5 0 0 0 7.92 12.446a9 9 0 1 1 -8.313 -12.454z"></path>
          </svg>
          <svg data-bs-theme-value="light" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-sun" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M12 12m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0m-5 0h1m8 -9v1m8 8h1m-9 8v1m-6.4 -15.4l.7 .7m12.1 -.7l-.7 .7m0 11.4l.7 .7m-12.1 -.7l-.7 .7"></path>
          </svg>
        </button>
        {{ end -}}

<!-- Social menu -->
{{ if .Site.Menus.social -}}
<ul id="socialMenu" class="nav mx-auto flex-row gap-3 order-lg-4 mt-auto mt-lg-0 order-3 order-lg-0">
  {{ range (sort .Site.Menus.social "Weight" "asc") -}}

      {{ if eq .Name "Docs" -}}
        {{ if not (in site.Params.doks.sectionNav $.Section) -}}
        <li class="nav-item"><a class="nav-link social-link" href="{{ .URL | relURL }}">{{ .Pre | safeHTML }}<small class="ms-2 visually-hidden">{{ .Name | safeHTML }}</small></a></li>
        {{ else -}}
        <li class="nav-item"><a class="nav-link social-link" href="/">{{ .Pre | safeHTML }}<small class="ms-2 visually-hidden">{{ .Name | safeHTML }}</small></a></li>
        {{ end -}}
      {{ else -}}
      <li class="nav-item"><a target="_blank" class="nav-link social-link" href="{{ .URL | relURL }}">{{ .Pre | safeHTML }}<small class="ms-2 visually-hidden">{{ .Name | safeHTML }}</small></a></li>
      {{ end -}}
  {{ end -}}
</ul>
{{ end -}}



                <!-- DocSearch desktop -->
{{ if site.Params.add_ons.docSearch -}}
<div class="flex-lg-grow-1 my-n1 d-none d-lg-flex justify-content-center">
<button type="button" id="searchToggleDesktop" class="btn btn-search-wide btn-link mx-2 d-none d-lg-block" aria-label="Search website">
  <div class="d-flex justify-content-center align-items-center">
    <svg aria-hidden="true" viewBox="0 0 20 20" class="icon-small-size flex-static icon-color">
      <path d="M16.293 17.707a1 1 0 0 0 1.414-1.414l-1.414 1.414ZM9 14a5 5 0 0 1-5-5H2a7 7 0 0 0 7 7v-2ZM4 9a5 5 0 0 1 5-5V2a7 7 0 0 0-7 7h2Zm5-5a5 5 0 0 1 5 5h2a7 7 0 0 0-7-7v2Zm8.707 12.293-3.757-3.757-1.414 1.414 3.757 3.757 1.414-1.414ZM14 9a4.98 4.98 0 0 1-1.464 3.536l1.414 1.414A6.98 6.98 0 0 0 16 9h-2Zm-1.464 3.536A4.98 4.98 0 0 1 9 14v2a6.98 6.98 0 0 0 4.95-2.05l-1.414-1.414Z"></path>
    </svg>
    <p class="ms-2">Search docs</p>
  </div>

<p class="search-hotkey">Ctrl K</p>
</button></div>

{{ end -}}

 <!-- Versioning dropdown  -->
 {{ if (in site.Params.doks.sectionNav .Section) -}}
 {{ if eq site.Params.doks.docsVersioning true -}}
 <div class="dropdown mt-1 order-lg-0 mb-auto mb-lg-0">
   <!-- Selector Trigger -->
   <button
     class="btn btn-link text-dark d-flex align-items-center py-0 ms-2 mt-2 m-lg-0 px-lg-3 text-sm fw-medium transition-colors no-underline"
     id="doks-versions"
     data-bs-toggle="dropdown"
     aria-expanded="false"
     aria-label="Toggle version menu"
   >
     {{ $currentPage := . -}}
     {{ $versions := site.Params.doks.docsVersions }}
     {{ $currentVersion := index $versions (sub (len $versions) 1) }}
     {{ range $index, $version := site.Params.doks.docsVersions }}
       {{ if in $currentPage.Permalink (printf "/docs/%s/" $version) }}
         {{ $currentVersion = $version }}
       {{ end }}
     {{ end }}
     <span class="fw-normal pb-1">{{ $currentVersion }}</span>
     {{ if eq $currentVersion (index site.Params.doks.docsVersions (sub (len site.Params.doks.docsVersions) 1)) }}
       <span class="badge latest-label text-primary ms-2 me-2 py-1 px-2 fw-medium text-white">
         Latest
       </span>
     {{ end }}
     <svg
       class="dropdown-arrow ms-2"
       width="16"
       height="16"
       fill="none"
       stroke="currentColor"
       viewBox="0 0 24 24"
     >
       <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
     </svg>
   </button>
   <ul class="dropdown-menu dropdown-menu-lg-end me-lg-2 shadow rounded border-0 bg-dark" aria-labelledby="doks-versions">
     {{ range $version := site.Params.doks.docsVersions }}
       <li>
         <a
           href="/docs/{{ $version }}/getting-started/overview/"
           class="dropdown-item d-flex justify-content-between align-items-center px-3 py-2 text-sm
                  {{ if eq $version $currentVersion }}
                    bg-purple-600 text-white fw-medium
                  {{ else }}
                    text-white
                  {{ end }}"
         >
           <span class="fw-normal dropdown-option-text">{{ $version }}</span>
           {{ if eq $version $currentVersion }}
             <svg
               class="text-white"
               width="20"
               height="20"
               fill="none"
               stroke="currentColor"
               viewBox="0 0 24 24"
             >
               <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
             </svg>
           {{ end }}
         </a>
       </li>
     {{ end }}
   </ul>
 </div>
{{ end -}}
{{ end -}}


        <!-- Navbar button mobile -->
        {{ if site.Params.doks.navBarButton -}}
          <a class="btn btn-primary rounded-pill mt-2 btn-block d-lg-none" href="{{ site.Params.doks.navBarButtonUrl | absURL }}" actor="button">{{ site.Params.doks.navBarButtonText }}</a>
        {{ end -}}
      </div>
    </div>


    <!-- Navbar button desktop -->
    {{ if site.Params.doks.navBarButton -}}
      <a class="btn btn-primary rounded-pill ms-3 me-2 px-4 order-lg-3 d-none d-lg-block" href="{{ site.Params.doks.navBarButtonUrl | absURL }}" actor="button">{{ site.Params.doks.navBarButtonText }}</a>
    {{ end -}}


  </div>
</header>
{{ if site.Params.doks.navbarSticky -}}
</div>
{{ end -}}



