.code {
  margin-top: 2rem !important;
  padding-top: 0rem;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title {
    font-size: 56px;
    margin-bottom: 0.75rem;
    margin-top: 6rem;
  }

  &__description {
    font-size: 24px;
    margin: 0;
    max-width: 996px;
  }

  &__img {
    margin-top: 1.5rem;
    border-radius: 24px;
    overflow: hidden;
    width: 100%;
    background-color: #1e1f23;
    border: 1px solid rgba(255, 255, 255, 0.05);

    pre {
      height: 673px !important;
      display: flex !important;
      justify-content: center !important;
      align-items: center !important;
      width: 100%;
      background: #1e1f23;
      margin-bottom: 0;
    }

    code {
      font-size: 14px !important;
      text-align: start;
      background-color: none !important;
      background-color: #1e1f23 !important;
    }

    &__header {
      padding-left: 25px;
      height: 60px;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.05);

      &__btn {
        width: 12px;
        height: 12px;
        border-radius: 50%;

        &--red {
          background-color: #ff5c62;
        }

        &--yellow {
          background-color: #ebb21f;
        }

        &--green {
          background-color: #1bc818;
        }
      }
    }

    &--small {
      code {
        overflow-x: visible !important;
        max-width: 100%;
      }

      pre {
        scrollbar-width: thin;
        scrollbar-color: #141416 #313239;

        &::-webkit-scrollbar-thumb {
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        }
      }
    }
  }

  &__languages {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 23px;
    margin-top: 5rem;
  }

  &__language {
    position: relative;
    width: 238px;
    height: 82px;
    background: #1e1f23;
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(255, 255, 255, 0.05);
    border-radius: 16px;
    z-index: 10;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: #1e1f23;
      border-radius: 16px;
    }

    &--active {
      &::before {
        content: "";
        position: absolute;
        top: -1px;
        bottom: -1px;
        left: -1px;
        right: -1px;
        background: linear-gradient(to bottom right, #f05c80 0%, #cc34df 100%);
        border-radius: 16px;
        z-index: -1;
      }
    }

    img {
      z-index: 20;
    }

    p {
      z-index: 20;
      font-size: 24px;
      font-weight: 500;
      margin: 0;
      color: white;
    }

    &--disabled {
      overflow: hidden;
      p {
        background: linear-gradient(
          to bottom,
          #ffffff,
          #999999
        ); /* Top to bottom gradient */
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    &__soon {
      position: absolute;
      z-index: 10;
      right: 0;
      top: 0;
      text-transform: uppercase;
      font-size: 10px;
      transform: rotate(34deg) translate(15px, -9px);
      padding: 5px 35px;
      border-top: 1px solid rgba(255, 255, 255, 0.05);
      border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    }
  }

  &__switch {
    display: flex;
    align-items: center;
    gap: 25px;
    justify-content: center;
    margin-top: 25px;

    p {
      margin-bottom: 0;
      width: 80px;
    }

    /* The switch - the box around the slider */
    .switch {
      position: relative;
      display: inline-block;
      width: 45px;
      height: 25px;
      float: right;
    }

    /* Hide default HTML checkbox */
    .switch input {
      display: none;
    }

    /* The slider */
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }

    .slider:before {
      position: absolute;
      content: "";
      height: 19px;
      width: 19px;
      left: 3px;
      bottom: 3px;
      background-color: white;
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }

    input:checked + .slider {
      background-color: #cc34df;
    }

    input:focus + .slider {
      box-shadow: 0 0 1px #2196f3;
    }

    input:checked + .slider:before {
      -webkit-transform: translateX(20px);
      -ms-transform: translateX(20px);
      transform: translateX(20px);
    }

    /* Rounded sliders */
    .slider.round {
      border-radius: 25px;
    }

    .slider.round:before {
      border-radius: 50%;
    }
  }
}

@media (max-width: 991px) {
  .code {
    margin-top: 1rem !important;
    &__title {
      margin-top: 0;
    }

    &__img {
      margin-top: 1rem;
    }
  }
}

@media (max-width: 767px) {
  .code {
    &__language {
      width: 72px;
      height: 72px;
    }
  }
}

@media (max-width: 575px) {
  .code {
    &__title {
      font-size: 34px;
    }

    &__description {
      font-size: 18px;
      line-height: 1.4;
    }

    &__languages {
      gap: 13px;
      margin-top: 1.5rem;
    }

    &__img {
      pre {
        height: 635px !important;
      }
    }
  }
}

.hljs {
  color: #fff !important;
  font-size: 16px !important;
  font-family: "Fira Mono", monospace !important;
  line-height: 1.6 !important;
  font-weight: 400 !important;
}

.hljs-comment {
  color: #128816 !important;
}

.hljs-keyword {
  color: #00b3ff !important;
}

.hljs-title {
  color: #e4ac1a !important;
}

.hljs-string {
  color: #18ac53 !important;
}

img-comparison-slider {
  --divider-color: linear-gradient(to bottom, #f05c80, #cc34df);
  --divider-width: 8px;
  width: 100%;
}
