.community {
  padding-top: 10rem;

  &__community-img {
    min-width: 80px;
    height: 32px;
  }

  &__card {
    padding: 5.5rem 4rem;
    padding-bottom: 4.5rem;
    border: 1px solid #353539;
    border-radius: 24px;
    background-color: rgba(255, 255, 255, 0.02);
    backdrop-filter: blur(32px);
    margin: 0;
  }

  &__col {
    &--right {
      padding-left: calc(var(--bs-gutter-x) * 0.2);
    }
  }

  &__title {
    font-size: 48px;
    line-height: 1.2;
    color: white;
    margin-top: 0;
  }

  &__description {
    font-size: 18px;
    line-height: 1.4;
    display: flex;
    gap: 10px;

    p {
      margin: 0;
    }
  }

  &__description-aside {
    font-size: 24px;
    line-height: 1.2;
    max-width: 345px;
    margin-top: -5px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
  }

  &__btn {
    background: #cc34df;
    border-radius: 100px;
    padding: 10px 15px;
    font-size: 16px;
    gap: 15px;
    border: none;
    align-items: center;
    display: inline;
    margin-right: auto;
    color: white !important;
    text-decoration: none !important;

    & img {
      margin-left: 8px;
    }

    &:hover {
      background-color: darken(#cc34df, 25%);
      color: darken(#fff, 25%);

      & img {
        opacity: 0.75;
      }
    }
  }
}

@media (max-width: 991px) {
  .community {
    padding-top: 1.7rem;

    &__card {
      padding: 2rem 1.4rem;
    }

    &__description {
      flex-direction: column;
      align-items: center;
      margin-bottom: 3rem;
    }

    &__description-aside {
      max-width: 100%;
    }

    &__col {
      &--right {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }

    &__btn {
      margin: 0 auto;
      text-align: center;
    }
  }
}

@media (max-width: 575px) {
  .community {
    &__title {
      font-size: 32px;
    }

    &__description {
      font-size: 14px;
    }

    &__description-aside {
      font-size: 24px;
    }
  }
}
