.description {
  padding-top: 4rem;
  padding-bottom: 0;

  &__text {
    padding: 0 20px;
    font-size: 24px;
    background: linear-gradient(
      to bottom,
      #ffffff,
      #999999
    ); /* Top to bottom gradient */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 1.4;
  }

  &__cards {
    padding: 0 15px;
  }

  &__card-col {
    padding-right: calc(var(--bs-gutter-x) * 0.3);
    padding-left: calc(var(--bs-gutter-x) * 0.3);
  }

  &__card {
    background: rgba($color: #fff, $alpha: 0.03);
    backdrop-filter: blur(24px);
    border: 1px solid rgba($color: #fff, $alpha: 0.1);
    border-radius: 24px;
    padding: 0;
    height: 410px;
    margin-top: 25px;
    overflow: hidden;
    position: relative;

    & > img {
      width: 100%;
    }

    &__info-container {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 145px;
      display: flex;
      flex-direction: column;
      align-items: center;

      & > h3 {
        background: linear-gradient(
          to bottom,
          #ffffff,
          #999999
        ); /* Top to bottom gradient */
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 24px;
        font-weight: 500;
        text-align: center;
        margin-bottom: 0.916rem;
      }

      & > p {
        font-size: 14px;
        font-weight: 500;
        text-align: center;
        max-width: 346px;
      }
    }
  }
}

@media (max-width: 767px) {
  .description {
    padding-top: 1.5rem;

    &__card {
      height: 320px;
    }
  }
}

@media (max-width: 575px) {
  .description {
    &__card {
      height: 420px;
    }

    &__text {
      font-size: 18px;
      padding: 0;
    }

    &__card-col {
      padding-left: calc(var(--bs-gutter-x) * 0.2);
      padding-right: calc(var(--bs-gutter-x) * 0.2);
    }

    &__card {
      margin-top: 24px;
      &__info-container {
        height: 125px;

        h3 {
          font-size: 18px;
          font-weight: 600;
        }

        p {
          font-size: 12px;
          padding: 0 1rem;
        }
      }
    }
  }
}

@media (max-width: 490px) {
  .description {
    &__card {
      height: 360px;
    }
  }
}

@media (max-width: 420px) {
  .description {
    &__card {
      height: 327px;
    }
  }
}
