.responsive-iframe {
  margin-top: 4.5rem;
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* Aspect ratio: 16:9 */
  height: 0;
}

.responsive-iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.diagram {
  padding-top: 4.5rem;

  &__box {
    border: 1px solid rgba($color: #fff, $alpha: 0.1);
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 767px) {
  .diagram {
    padding-top: 1.5rem;

    img {
      max-width: 400px;
    }
  }

  .responsive-iframe {
    margin-top: 1.5rem;
  }
}
