.enforce {
  padding-top: 10.5rem;

  &__title {
    max-width: 450px;

    font-size: 56px;
    margin-bottom: -10px;
    margin-top: 1rem;
  }

  &__description {
    max-width: 525px;
    font-size: 24px;
    margin: 0;
  }

  .forced-dark &__img {
    background: #c0c0c0 !important;

    &__header {
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }

    pre,
    code {
      background: #c0c0c0 !important;
    }
  }

  &__img {
    margin-top: 1.5rem;
    border-radius: 24px;
    overflow: hidden;
    width: 100%;
    background-color: #1e1f23;
    border: 1px solid rgba(255, 255, 255, 0.05);

    pre {
      height: 476px !important;
      display: flex !important;
      justify-content: center !important;
      align-items: center !important;
      width: 100%;
      background: #1e1f23;
      margin-bottom: 0;
      scrollbar-width: thin;
      scrollbar-color: #141416 #313239;

      &::-webkit-scrollbar-thumb {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      }
    }

    code {
      padding: 1em 2em !important;
      text-align: start;
      background-color: none !important;
      background-color: #1e1f23 !important;
      overflow: visible !important;
      font-size: 14px !important;
      max-width: 100%;
    }

    &__header {
      border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    }
  }
}

@media (max-width: 991px) {
  .enforce {
    padding-top: 2rem;

    &__row {
      flex-direction: column-reverse;
    }

    &__img {
      margin-left: 0;
      margin: 0 auto;
    }

    &__title {
      max-width: 100%;
      margin-top: 1.5rem;
    }

    &__description {
      margin-bottom: 15px;
      max-width: 100%;
    }
  }
}

@media (max-width: 575px) {
  .enforce {
    &__title {
      font-size: 32px;
    }

    &__description {
      font-size: 18px;
      line-height: 1.4;
    }
  }
}
