.responsive-iframe {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* Aspect ratio: 16:9 */
  height: 0;
}

.cookieconsent-banner {
  padding-top: 4rem;
  padding-bottom: 0;
  text-align: center;
}

.responsive-iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hero {
  padding-top: 190px;
  padding-bottom: 120px;

  &__title {
    font-size: 56px !important;
    color: transparent !important;
    background: linear-gradient(180deg, #fff 0%, #999 100%);
    background-clip: text;
    line-height: 1.2;
    font-weight: 500;
    margin-bottom: 32px;
    letter-spacing: 2.3px;
    max-width: 598px;
  }

  &__description {
    font-size: 24px;
    color: rgba(255, 255, 255, 0.5) !important;
    line-height: 1.4;
    margin-bottom: 32px;
    letter-spacing: 0.39px;
    max-width: 598px;
  }

  &__logo {
    width: 100px;
  }

  &__col {
    padding-left: 50px;
  }

  &__img-wrapper {
    position: absolute;
    top: -41px;
    right: -134px;
  }

  &__image-shield {
    position: absolute;
    bottom: 0;
    left: 415px;
  }

  &__btn {
    background-color: #cc34df;
    font-size: 18px;
    border: none;
    padding: 11px 25px;
    font-weight: 500;
    text-decoration: none !important;
    text-align: center !important;

    &:hover {
      background-color: darken(#cc34df, 25%);
      color: darken(#fff, 25%);
    }

    &--secondary {
      background-color: #323337;

      &:hover {
        background-color: darken(#323337, 5%);
      }
    }
  }
}

@media (max-width: 1199px) {
  .hero {
    padding-top: 90px;
    padding-bottom: 90px;

    &__title {
      font-size: 46px !important;
    }

    &__description {
      max-width: 420px;
    }

    &__image {
      height: 600px;
    }

    &__image-shield {
      height: 202px;
      left: 323px;
    }

    &__img-wrapper {
      top: -24px;
      right: -124px;
    }
  }
}

@media (max-width: 991px) {
  .hero {
  }
}

@media (max-width: 767px) {
  .cookieconsent-banner {
    padding-top: 3rem;
  }
}

@media (max-width: 575px) {
  .hero {
  }
}
