.hero {
  padding-top: 105px;
  padding-bottom: 120px;

  &__title {
    font-size: 56px !important;
    color: transparent !important;
    background: linear-gradient(180deg, #fff 0%, #999 100%);
    background-clip: text;
    line-height: 1.2;
    font-weight: 500;
    margin-bottom: 18px;
    letter-spacing: 2.3px;
    max-width: 350px;
    display: flex;
    gap: 12px;
    margin-bottom: 24px !important;

    &__community {
      margin-bottom: 0;
      border-radius: 16px;
      background: linear-gradient(178deg, #f05c80 -26.55%, #cc34df 98.09%);
      color: white;
      padding: 4px 16px;
      transform: rotate(3deg);
      font-size: 48px !important;
      z-index: 999;
    }
  }

  &__description {
    font-size: 24px;
    color: rgba(255, 255, 255, 0.5) !important;
    line-height: 1.4;
    margin-bottom: 32px;
    letter-spacing: 0.39px;
    max-width: 598px;
  }

  &__btn {
    background-color: #cc34df;
    font-size: 18px;
    border: none;
    padding: 11px 25px;
    font-weight: 500;
    color: #fff !important;
    text-decoration: none !important;
    text-align: center !important;

    &:hover {
      background-color: darken(#cc34df, 25%);
      color: darken(#fff, 25%) !important;
    }

    &--secondary {
      background-color: #323337;

      &:hover {
        background-color: darken(#323337, 5%);
      }
    }
  }

  &__illustration {
    margin-left: 15%;
    margin-top: 50px;
    transform: scale(2.05);
    width: 615px !important;
    max-width: 100% !important;
  }
}

@media (max-width: 1199px) {
  .hero {
    padding-top: 90px;
    padding-bottom: 70px;

    &__title {
      font-size: 46px !important;
    }

    &__description {
      max-width: 420px;
    }
  }
}

@media (max-width: 991px) {
  .hero {
    padding-bottom: 0;

    &__title {
      max-width: 100%;
    }

    &__description {
      max-width: 100%;
    }

    &__illustration {
      margin: 60px auto 0 auto;
      transform: scale(1.8);
    }
  }
}

@media (max-width: 575px) {
  .hero {
    padding-top: 85px;
    padding-bottom: 20px;

    &__title {
      font-size: 28px !important;
      letter-spacing: 1px;
      margin-bottom: 10px;
      margin: 0 auto;

      &__community {
        font-size: 24px !important;
        padding: 4px 16px;
        border-radius: 12px;
      }
    }

    &__description {
      font-size: 16px !important;
      letter-spacing: 0;
      text-align: center;
      margin-bottom: 16px;
    }

    &__btn {
      flex: 1;
      width: 100%;
    }

    &__illustration {
      margin: 52px 0 0 0;
    }
  }
}

.blur-fuchsia {
  right: 0px;
  top: 60px;
}

.z-0 {
  z-index: -1 !important;
}

.mt-n5 {
  margin-top: -3rem; /* Bootstrap's mt-n5 is approximately -3rem */
}

.wrapper {
  width: 100%;
}

@media (min-width: 576px) and (max-width: 991px) {
  .align-self-end {
    margin-right: auto;
    margin-left: auto;
    right: -40px;
  }

  .position-absolute.d-block.d-lg-none[style*="left: 45px"] {
    left: 45px !important;
    top: 125px !important;
  }

  .wrapper {
    width: auto;
  }
}

@media (min-width: 992px) {
  .wrapper {
    width: auto;
  }

  .position-relative {
    position: absolute !important;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }
}
