.pep {
  margin-top: 5rem !important;
  padding-top: 0rem;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title {
    font-size: 56px;
    margin-bottom: 0.75rem;
    margin-top: 2.5rem;
  }

  &__language {
    &__image {
      height: 32px;
    }
  }

  &__description {
    font-size: 24px;
    margin: 0;
    max-width: 862px;
  }

  &__languages {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 23px;
    margin-top: 2.5rem;
  }

  &__language {
    position: relative;
    width: 238px;
    height: 82px;
    background: #1e1f23;
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(255, 255, 255, 0.05);
    border-radius: 16px;

    p {
      font-size: 24px;
      font-weight: 500;
      margin: 0;
      color: white;
    }

    &--disabled {
      overflow: hidden;
      p {
        background: linear-gradient(
          to bottom,
          #ffffff,
          #999999
        ); /* Top to bottom gradient */
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    &__soon {
      position: absolute;
      right: 0;
      top: 0;
      text-transform: uppercase;
      font-size: 10px;
      transform: rotate(34deg) translate(15px, -9px);
      padding: 5px 35px;
      border-top: 1px solid rgba(255, 255, 255, 0.05);
      border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    }
  }
}

@media (max-width: 991px) {
  .pep {
    margin-top: 2rem !important;
    &__title {
      margin-top: 0;
    }

    &__img {
      margin-top: 1rem;
    }
  }
}

@media (max-width: 575px) {
  .pep {
    &__title {
      font-size: 34px;
      padding: 0 1rem;
    }

    &__description {
      font-size: 18px;
      line-height: 1.4;
    }

    &__languages {
      gap: 15px;
    }

    &__language {
      height: 75px;
      width: 100%;
    }
  }
}
