.vscode {
  padding-top: 5.5rem;
  &__title {
    max-width: 530px;
    font-size: 56px;
    margin-bottom: -10px;
    margin-top: 0;
  }

  &__description {
    max-width: 576px;
    font-size: 24px;
    margin: 0;
  }

  &__description-box {
    padding-left: 30px;
  }
}

@media (max-width: 991px) {
  .vscode {
    padding-top: 0.5rem;

    &__img {
      margin-left: 0;
      margin: 0 auto;
    }

    &__title {
      margin-top: 2rem;
    }

    &__description {
      margin-bottom: 15px;
      max-width: 100%;
    }
  }
}

@media (max-width: 575px) {
  .vscode {
    &__title {
      font-size: 32px;
    }

    &__description {
      font-size: 18px;
    }
  }
}
