header {
  // overflow-x: hidden;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    z-index: -1;
    bottom: 0;
    right: 0;
    left: 0;
    transition: all 0.1s;
  }
}

.forced-dark .header {
  &--blur {
    &::before {
      background-color: rgba($color: #d2d2d2, $alpha: 0.95) !important;
    }
  }
}

.header {
  &--blur {
    &::before {
      backdrop-filter: blur(6px);
      background-color: rgba($color: #17181c, $alpha: 0.95) !important;
    }
  }
}

@media (max-width: 575px) {
  .header {
    padding: 18px 2px 18px 8px;
  }
}

// DOCS border remove
.navbar {
  border-bottom: none !important;
}

.docs-sidebar {
  border-right: none !important;
}

.no-underline,
.no-underline:hover,
.no-underline:focus,
.no-underline:active {
  text-decoration: none !important;
}

.latest-label {
  background: #701a75;
  border-radius: 999px;
}

.dropdown-arrow {
  transition: transform 0.2s ease-out;
}

.dropdown-arrow.rotate {
  transform: rotate(180deg);
}

.bg-dark {
  background-color: #212529 !important;
}

.bg-purple-600 {
  background-color: #c026d3 !important;
}

.text-white {
  color: #ffffff !important;
}

.bg-dark-hover:hover {
  background-color: #343a40 !important;
}

.dropdown-option-text {
  font-size: 14px;
}
