header {
  // overflow-x: hidden;
  position: relative;

  padding-top: 17px !important;
  padding-bottom: 17px !important;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    z-index: -1;
    bottom: 0;
    right: 0;
    left: 50%;
    transform: translateX(-50%);
    backdrop-filter: blur(4px);
    background-color: rgba(255, 255, 255, 0.02) !important;
    width: 100vw;
  }

  .nav-link {
    padding: 0 0 0 0 !important;
    font-size: 16px;
    margin-left: 8px;
  }
}

.header {
  &__img {
    height: 36px;
  }
}

.forced-dark .header {
  &--blur {
    &::before {
      background-color: rgba($color: #d2d2d2, $alpha: 0.95) !important;
    }
  }
}

@media (max-width: 575px) {
  .header {
    padding: 18px 2px 18px 8px;
  }
}

// DOCS border remove
.navbar {
  border-bottom: none !important;
}

.docs-sidebar {
  border-right: none !important;
}

.no-underline,
.no-underline:hover,
.no-underline:focus,
.no-underline:active {
  text-decoration: none !important;
}

.latest-label {
  background: #701a75;
  border-radius: 999px;
}

.dropdown-arrow {
  transition: transform 0.2s ease-out;
}

.dropdown-arrow.rotate {
  transform: rotate(180deg);
}

.bg-dark {
  background-color: #212529 !important;
}

.bg-purple-600 {
  background-color: #c026d3 !important;
}

.text-white {
  color: #ffffff !important;
}

.bg-dark-hover:hover {
  background-color: #343a40 !important;
}

.dropdown-option-text {
  font-size: 14px;
}

.icon-size {
  height: 24px;
  width: 24px;
}

.icon-small-size {
  width: 20px;
  height: 20px;
}

.flex-static {
  flex: none;
}

.icon-color {
  fill: #94a3b8;
  color: #94a3b8;
}

.icon-color:hover {
  fill: #cbd5e1;
  color: #cbd5e1;
}

.btn-search-wide {
  margin: 0 auto;
  width: 384px;
  height: 45px;
  padding: 10px 16px !important;
  padding-right: 14px !important;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.05);
  background-color: rgba(39, 39, 42, 0.75);
  transition: none;
  display: flex !important;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;

  p {
    margin-top: 0;
    color: #94a3b8;
    margin-bottom: 0;
  }

  & .search-hotkey {
    color: #64748b;
  }

  &:hover {
    text-decoration: none !important;
    background-color: rgba(63, 63, 70, 0.4);
    border: 1px solid #64748b;

    svg {
      fill: #94a3b8;
    }
  }
}
