{{ define "main" }}
<!-- Section 1 | Hero section -->
<section class="section hero px-xl-4 px-xxl-0">
  <div class="row align-items-center">
    <div
      class="col-16 col-lg-10 col-xl-7 col-xxl-8 hero__col d-flex flex-column align-items-start"
    >
      <h1 class="hero__title">
        Permguard Community.
      </h1>
      <p class="hero__description">
        Access the full power of Permguard Community under the Apache 2.0 license, no restrictions, no hidden costs.
      </p>
      {{ $currentPage := . -}} {{ $versions := site.Params.doks.docsVersions }}
      {{ $currentVersion := index $versions (sub (len $versions) 1) }}
      <div
        class="d-flex flex-column flex-sm-row gap-3 gap-sm-4 w-100 w-sm-auto"
      >
        <a
          href="/docs/{{ $currentVersion }}/getting-started/permguard-paradigm/"
          class="rounded-pill hero__btn"
          >Get Started</a
        >
        <a
          href="https://github.com/permguard/permguard"
          target="_blank"
          class="rounded-pill hero__btn hero__btn--secondary"
          >View on Github</a
        >
      </div>
    </div>
    <div class="col-16 col-lg-6 col-xl-9 col-xxl-8 hero__img-wrapper-box">
      <div class="d-none d-sm-flex hero__img-wrapper">
        <img class="hero__image" src="/images/home/hero.svg" alt="Permguard" />
        <img
          class="hero__image-shield"
          src="/images/home/hero_shield.png"
          alt="Identity Access Management"
        />
      </div>

      <div class="d-block d-sm-none hero__img-wrapper">
        <img
          class="hero__image"
          src="/images/home/hero_mobile.svg"
          alt="Permguard"
        />
        <img
          class="hero__image-shield"
          src="/images/home/hero_shield.png"
          alt="Identity Access Management"
        />
      </div>
    </div>
  </div>
</section>

{{ end }}
