{{ define "main" }}
<!-- Section 1 | Hero section -->
<section class="section mt-n3 hero px-xl-4 px-xxl-0">
  <div class="row align-items-center">
    <div
      class="col-16 col-lg-7 hero__col d-flex flex-column gap-4 align-items-center"
    >
      <img
        src="/images/logos/top_logo.svg"
        alt="Permguard logo"
        class="hero__logo"
      />
      <h1 class="text-white font-montserrat fw-medium hero__title mb-0">
        Permguard
      </h1>
      <p class="text-white hero__description text-center mb-1">
        Permguard is an Open Source Multi-Application, Multi-Tenant, Zero-Trust
        Auth* Provider.
      </p>
      {{ $currentPage := . -}} {{ $versions := site.Params.doks.docsVersions }}
      {{ $currentVersion := index $versions (sub (len $versions) 1) }}
      <a
        href="/docs/{{ $currentVersion }}/getting-started/introduction-to-permguard/"
        class="rounded-pill text-white hero__btn"
        >Getting Started</a
      >
    </div>
    <div class="col-16 col-lg-9 d-none d-sm-flex d-lg-block">
      <img
        class="hero__image"
        src="/images/home/hero.webp"
        alt="Permguard schema"
      />
    </div>
    <div class="col-16 col-lg-9 p-0 d-block d-sm-none">
      <img
        class="hero__image w-100"
        src="/images/home/hero-mobile.webp"
        alt="Permguard schema"
      />
    </div>
  </div>
</section>

<!-- Section 2 -->
<section class="section description px-xl-4 px-xxl-0">
  <p class="text-white text-center fw-medium description__text">
    PemGuard is an Open Source Zero-Trust Auth* Provider for cloud-native, edge,
    and multi-tenant apps, decoupled from application code. It implements a
    centralized authorization layer using Policy-as-code, enabling enforcement
    of permission from anywhere, including VMs, Containers, and Serverless.
  </p>

  <div class="row row-cols-1 row-cols-sm-2 row-cols-xl-3 description__cards">
    <article class="col description__card-col">
      <div class="description__card">
        <img src="/images/home/cards/applications.webp" alt="Applications" />
        <div class="description__card__info-container">
          <h3>Applications</h3>
          <p>
            Create and configure an Application, optionally including its
            Tenants.
          </p>
        </div>
      </div>
    </article>
    <article class="col description__card-col">
      <div class="description__card">
        <img src="/images/home/cards/identities.webp" alt="Identities" />
        <div class="description__card__info-container">
          <h3>Identities</h3>
          <p>
            Create an identity source and populate it with Users and Actors
            using available SDKs.
          </p>
        </div>
      </div>
    </article>
    <article class="col description__card-col">
      <div class="description__card">
        <img src="/images/home/cards/ledgers.webp" alt="Ledgers" />
        <div class="description__card__info-container">
          <h3>Ledgers</h3>
          <p>Create a Policy Ledger and set up its Schema and Policies.</p>
        </div>
      </div>
    </article>
    <article class="col description__card-col">
      <div class="description__card">
        <img src="/images/home/cards/policies.webp" alt="Policies" />
        <div class="description__card__info-container">
          <h3>Policies</h3>
          <p>
            Configure Policies to define what can be permitted or forbidden.
          </p>
        </div>
      </div>
    </article>
    <article class="col description__card-col">
      <div class="description__card">
        <img src="/images/home/cards/permissions.webp" alt="Permissions" />
        <div class="description__card__info-container">
          <h3>Permissions</h3>
          <p>
            Configure Permissions on policies and assign them to identities
            (users and actors).
          </p>
        </div>
      </div>
    </article>
    <article class="col description__card-col">
      <div class="description__card">
        <img src="/images/home/cards/enforce.webp" alt="Enforce" />
        <div class="description__card__info-container">
          <h3>Enforce</h3>
          <p>
            Enforce the permissions in the application using available SDKs.
          </p>
        </div>
      </div>
    </article>
  </div>
</section>

<div
  class="section px-xl-4 px-xxl-0 cookieconsent-banner cookieconsent-optout-marketing"
>
  Please
  <a href="javascript:Cookiebot.renew()">accept marketing-cookies</a>
  to watch this video.
</div>
<div class="responsive-iframe cookieconsent-optin-marketing">
  <iframe
    width="100%"
    height="315"
    src="https://www.youtube-nocookie.com/embed/9x_mSTvkuv8?si=RD1IkFyeiVsFVwJm&rel=0&modestbranding=1"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin"
    allowfullscreen
  ></iframe>
</div>

<!-- Section 3 -->
<section class="section pb-3 diagram px-xl-4 px-xxl-0">
  <div class="diagram__box">
    <img
      class="d-none d-md-block"
      src="/images/home/diagram.webp"
      alt="Diagram"
    />
    <img
      class="d-block d-md-none w-100"
      src="/images/home/diagram-mobile.webp"
      alt="Diagram"
    />
  </div>
</section>

<!-- Section 4 -->
<section class="section pb-3 permguard-server px-xl-4 px-xxl-0">
  <div class="row align-items-center">
    <hgroup
      class="col-16 col-lg-8 d-flex flex-column gap-4 align-items-center align-items-lg-start"
    >
      <h2
        class="text-white fw-medium permguard-server__title text-gradient text-center text-lg-start"
      >
        Permguard Server
      </h2>
      <p class="permguard-server__description text-center text-lg-start">
        Start the PermGuard Authorization Server to serve as the central
        authority for managing Applications, Identity Sources, Identities,
        Tenants, Policy Ledgers, and more. Keep in mind that PermGuard requires
        integration with an external authentication provider, as it does not
        handle authentication itself.
      </p>
    </hgroup>
    <div class="col-16 col-lg-8 d-flex">
      <img
        class="permguard-server__img"
        src="/images/home/permguard_server.webp"
        alt="Permguard Server"
      />
    </div>
  </div>
</section>

<!-- Section 5 -->
<section class="section pb-3 workspace px-xl-4 px-xxl-0">
  <div class="row align-items-center workspace__row">
    <div class="col-16 col-lg-8 col workspace__col">
      <img
        class="workspace__image d-none d-lg-block"
        src="/images/home/workspace.webp"
        alt="Workspace"
      />
      <img
        class="workspace__image d-block d-lg-none"
        src="/images/home/workspace-mobile.webp"
        alt="Workspace"
      />
    </div>
    <hgroup class="col-16 col-lg-8 col d-flex flex-column gap-4">
      <h2
        class="text-white fw-medium workspace__title text-gradient text-center text-lg-start"
      >
        Workspace
      </h2>
      <p class="workspace__description text-center text-lg-start">
        Initialize a local workspace and check out a remote Policy Ledger from a
        PermGuard Authorization Server using the PermGuard Command Line.
      </p>
    </hgroup>
  </div>
</section>

<!-- Section 6 -->
<section class="section pb-3 code px-xl-4 px-xxl-0">
  <hgroup>
    <h2 class="text-white fw-medium code__title text-gradient">
      Policy as Code (PAC)
    </h2>
    <p class="code__description">
      Implement your authorization model using schemas and write policies in
      supported languages.
      <a href="https://www.cedarpolicy.com" target="_blank"
        >Cedar Policy Language</a
      >
      is now available, with additional languages coming soon.
    </p>
  </hgroup>

  <div class="code__languages">
    <button
      data-language="go"
      aria-label="Golang"
      class="code__language code__language--active"
    >
      <img
        class="code__language__image code__language__image--go"
        src="/images/home/languages/Go.webp"
        alt="Golang"
      />
      <p class="d-none d-md-inline">Go</p>
    </button>
    <button data-language="python" aria-label="Python" class="code__language">
      <img
        class="code__language__image"
        src="/images/home/languages/Python.webp"
        alt="Python"
      />
      <p class="d-none d-md-inline">Python</p>
    </button>
    <button
      disabled
      class="code__language code__language--disabled"
      aria-label="TypeScript"
    >
      <img
        class="code__language__image"
        src="/images/home/languages/Typescript-disabled.webp"
        alt="TypeScript"
      />
      <p class="d-none d-md-inline">TypeScript</p>
      <span class="code__language__soon">Soon</span>
    </button>
    <button
      disabled
      class="code__language d-none d-sm-flex code__language--disabled"
      aria-label=".Net Core"
    >
      <img
        class="code__language__image"
        src="/images/home/languages/dotNet-disabled.webp"
        alt=".NET Core"
      />
      <p class="d-none d-md-inline">.NET Core</p>
      <span class="code__language__soon">Soon</span>
    </button>
    <button
      disabled
      class="code__language code__language--disabled"
      aria-label="Java"
    >
      <img
        class="code__language__image"
        src="/images/home/languages/Java-disabled.webp"
        alt="Java"
      />
      <p class="d-none d-md-inline">Java</p>
      <span class="code__language__soon">Soon</span>
    </button>
  </div>

  <div class="code__switch d-flex d-md-none">
    <p>Before</p>
    <label class="switch">
      <input id="switchInput" type="checkbox" />
      <span class="slider round"></span>
    </label>
    <p>After</p>
  </div>

  <div class="code__img code__img--small d-block d-md-none">
    <div class="code__img__header">
      <div class="code__img__header__btn code__img__header__btn--red"></div>
      <div class="code__img__header__btn code__img__header__btn--yellow"></div>
      <div class="code__img__header__btn code__img__header__btn--green"></div>
    </div>
    <pre slot="first" class="theme-devibeans"><code class="language-go">
func checkPermissions(token, system, resource, action string) bool {
    payload := decodeJWT(token)
    actors, ok := payload["actors"].([]string)
    if !ok {
        return false
    }

    for _, actor := range actors {
        actorPermissions := getPermissionsForActor(actor)
        if resources, systemFound := actorPermissions[resource]; systemFound {
            if actions, resourceFound := resources[system]; resourceFound {
                for _, allowedAction := range actions {
                    if strings.EqualFold(allowedAction, action) {
                        return true // Permission granted
                    }
                }
            }
        }
    }
    return false // No permission granted
}

hasPermissions := checkPermissions(token, system, "inventory", "view")
</code></pre>
  </div>

  <div class="code__img d-none d-md-block">
    <div class="code__img__header">
      <div class="code__img__header__btn code__img__header__btn--red"></div>
      <div class="code__img__header__btn code__img__header__btn--yellow"></div>
      <div class="code__img__header__btn code__img__header__btn--green"></div>
    </div>
    <img-comparison-slider>
      <pre slot="first" class="theme-devibeans"><code class="language-go">
func checkPermissions(token, system, resource, action string) bool {
  payload := decodeJWT(token)
  actors, ok := payload["actors"].([]string)
  if !ok {
    return false
  }

  for _, actor := range actors {
    actorPermissions := getPermissionsForActor(actor)
    if resources, systemFound := actorPermissions[resource]; systemFound {
      if actions, resourceFound := resources[system]; resourceFound {
        for _, allowedAction := range actions {
          if strings.EqualFold(allowedAction, action) {
            return true // Permission granted
          }
        }
      }
    }
  }
  return false // No permission granted
}

hasPermissions := checkPermissions(token, system, "inventory", "view")
</code></pre>
      <pre slot="second">
<code class="language-go">hasPermissions := permguard.Check(
  principal,
  policyStore,
  entities,
  subject,
  resource,
  action,
  context
)
</code>
</pre>
    </img-comparison-slider>
  </div>

  <!-- <img
    class="code__img d-none d-sm-block"
    src="/images/home/policy_as_code.webp"
    alt=""
  />
  <img
    class="code__img d-block d-sm-none"
    src="/images/home/policy_as_code-mobile.webp"
    alt=""
  /> -->
</section>

<!-- Section 7 -->
<section class="section pb-3 policies px-xl-4 px-xxl-0">
  <div class="row align-items-center policies__row">
    <div class="col-16 col-lg-8 d-flex">
      <img
        class="policies__img"
        src="/images/home/policies.webp"
        alt="Policies"
      />
    </div>
    <hgroup
      class="col-16 col-lg-8 d-flex flex-column gap-4 policies__description-box align-items-center align-items-lg-start"
    >
      <h2
        class="text-white fw-medium policies__title text-gradient text-center text-lg-start"
      >
        Apply Policy as Code to Remote Ledger
      </h2>
      <p class="policies__description text-center text-lg-start">
        Use the Permguard command line to build a plan based on the local state
        and apply changes to the remote ledger.
      </p>
    </hgroup>
  </div>
</section>

<!-- Section 8 -->
<section class="section pb-3 pep px-xl-4 px-xxl-0">
  <hgroup>
    <h2 class="text-white fw-medium pep__title text-gradient">
      Integrate Permguard PEP
    </h2>
    <p class="pep__description">
      Integrate Permguard's Policy Enforcement Point (PEP) using the available
      SDKs, or build your own with gRPC endpoints for unsupported languages.
    </p>
  </hgroup>
  <div class="pep__languages">
    <div class="pep__language">
      <img
        class="pep__language__image"
        src="/images/home/languages/Go.webp"
        alt="Golang"
      />
      <p>Go</p>
    </div>
    <div class="pep__language">
      <img
        class="pep__language__image"
        src="/images/home/languages/Python.webp"
        alt="Python"
      />
      <p>Python</p>
    </div>
    <div class="pep__language pep__language--disabled">
      <img
        class="pep__language__image"
        src="/images/home/languages/Typescript-disabled.webp"
        alt="TypeScript"
      />
      <p>TypeScript</p>
      <span class="pep__language__soon">Soon</span>
    </div>
    <div class="pep__language pep__language--disabled">
      <img
        class="pep__language__image"
        src="/images/home/languages/dotNet-disabled.webp"
        alt=".NET Core"
      />
      <p>.NET Core</p>
      <span class="pep__language__soon">Soon</span>
    </div>
    <div class="pep__language pep__language--disabled">
      <img
        class="pep__language__image"
        src="/images/home/languages/Java-disabled.webp"
        alt="Java"
      />
      <p>Java</p>
      <span class="pep__language__soon">Soon</span>
    </div>
  </div>
</section>

<!-- Section 9 -->
<section class="section pb-3 enforce px-xl-4 px-xxl-0">
  <div class="row align-items-center enforce__row">
    <hgroup
      class="col-16 col-lg-7 d-flex flex-column gap-4 align-items-center align-items-lg-start"
    >
      <h2
        class="text-white fw-medium enforce__title text-gradient text-center text-lg-start"
      >
        Enforce Permissions in Your Code
      </h2>
      <p class="enforce__description text-center text-lg-start">
        Enforce permissions in your code by verifying that the current identity
        has the rights to perform actions on the specified resources.
      </p>
    </hgroup>
    <div class="col-16 col-lg-9 d-flex justify-content-center enforce__col">
      <div class="enforce__img">
        <div class="enforce__img__header">
          <img
            src="/images/home/code_header.svg"
            alt="Code window"
            draggable="false"
          />
        </div>
        <pre
          class="theme-devibeans"
        ><code class="language-python">@app.get("/inventory")
async def view_inventory(token: str = Depends(oauth2_scheme)):
    uur = get_uur_from_token(token)
    has_permissions = check_permissions(uur, "inventory", "view")

    if has_permissions:
        return get_inventory()
    else:
        raise HTTPException(status_code=403, detail="Actor cannot view inventory")
    </code></pre>
      </div>
    </div>
  </div>
</section>

<!-- Section 10 -->
<section class="section pb-3 where-to-enforce px-xl-4 px-xxl-0">
  <div class="row align-items-center">
    <div class="col-16 col-lg-8 d-flex where-to-enforce__col-img">
      <img
        class="where-to-enforce__img"
        src="/images/home/where_to_enforce.webp"
        alt="Where to Enforce"
      />
    </div>
    <hgroup
      class="col-16 col-lg-8 d-flex flex-column gap-4 where-to-enforce__description-box align-items-center align-items-lg-start"
    >
      <h2
        class="text-white fw-medium where-to-enforce__title text-gradient text-sm-center text-lg-start"
      >
        Where to Enforce
      </h2>
      <p class="where-to-enforce__description text-center text-lg-start">
        The Policy Enforcement Point (PEP) can be set up in various
        environments:
      </p>
      <ul class="where-to-enforce__description-rows">
        <li class="where-to-enforce__description-row">
          <img
            class="where-to-enforce__description-row__img"
            src="/images/home/check.svg"
            alt="Check sign"
          />
          <p>Kubernetes, using a sidecar deployment</p>
        </li>
        <li class="where-to-enforce__description-row">
          <img
            class="where-to-enforce__description-row__img"
            src="/images/home/check.svg"
            alt="Check sign"
          />

          <p>Serverless, with proximity nodes</p>
        </li>
        <li class="where-to-enforce__description-row">
          <img
            class="where-to-enforce__description-row__img"
            src="/images/home/check.svg"
            alt="Check sign"
          />
          <p>Standalone server Edge computing</p>
        </li>
      </ul>
    </hgroup>
  </div>
</section>

<section class="section pb-3 versioning px-xl-4 px-xxl-0">
  <hgroup>
    <h2 class="text-white fw-medium versioning__title text-gradient">
      Guaranteed Versioning & Immutability
    </h2>
    <p class="versioning__description">
      Permguard guarantees compliance through built-in versioning and
      immutability using a Git-like algorithm, ensuring policies and permissions
      are stored in a tamper-proof and traceable manner.
      <br />
      <br />
      Proximity nodes independently pull updates via the NOTP (Negotiated Object
      Transfer Protocol), allowing each node to reference specific points in
      time while optimizing bandwidth usage. Policies are stored in immutable
      blobs. This approach, combined with the abstract language layer, allows
      Permguard to extend seamlessly with other languages, ensuring there is no
      dependency on code-specific APIs.
    </p>
  </hgroup>
  <img
    class="versioning__img d-none d-lg-block"
    src="/images/home/versioning.webp"
    alt="Guaranteed Versioning"
  />
  <img
    class="versioning__img versioning__img--small d-block d-lg-none"
    src="/images/home/versioning-mobile.webp"
    alt="Guaranteed Versioning"
  />
</section>

<!-- Section 11 -->
<section class="section pb-3 tenancy px-xl-4 px-xxl-0">
  <div class="row align-items-center tenancy__row">
    <hgroup
      class="col-16 col-lg-8 d-flex flex-column gap-4 align-items-center align-items-lg-start"
    >
      <h2
        class="text-white fw-medium tenancy__title text-gradient text-center text-lg-start"
      >
        Multi Tenancy
      </h2>
      <p class="tenancy__description text-center text-lg-start">
        With Permguard, you can implement multi-tenancy permissions, ideal for
        SaaS environments where different permission models are needed for each
        tenant.
      </p>
    </hgroup>
    <div
      class="col-16 col-lg-8 d-flex justify-content-center justify-content-lg-end"
    >
      <img
        class="tenancy__img"
        src="/images/home/tenancy.webp"
        alt="Multi Tenancy"
      />
    </div>
  </div>
</section>

<!-- Section 6 -->
<section class="section pb-3 vscode px-xl-4 px-xxl-0">
  <div class="row align-items-center">
    <div class="col-16 col-lg-8 d-flex">
      <img
        class="vscode__img"
        src="/images/home/vscode.webp"
        alt="Vscode Extension"
      />
    </div>
    <hgroup
      class="col-16 col-lg-8 d-flex flex-column gap-4 vscode__description-box align-items-center align-items-lg-start"
    >
      <h2
        class="text-white fw-medium vscode__title text-gradient text-center text-lg-start"
      >
        Install The VS Code Extension
      </h2>
      <p class="vscode__description text-center text-lg-start">
        Install the Visual Studio Code Extension to enhance your development
        experience.
      </p>
    </hgroup>
  </div>
</section>

{{ end }}
